.header {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 16px 40px;
  width: 100%;
  background-color: rgba(77, 6, 47, 0.301);
  box-shadow: 10px 10px 10px rgb(97 8 8 / 57%),
    -10px 10px 10px rgb(97 8 8 / 57%);
}
